<nav class="navbar navbar-lightred navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MadMart</a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="nav-link  nav-link-top" href="#">Sign In</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-top" href="#">Saved</button>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-darkred navbar-expand-lg">
  <div class="container-fluid justify-content-center align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Tickets</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Furniture</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Appliances</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Sub-leases</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Clothing</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Technology</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-bottom">Other</button>
      </li>
    </ul>
  </div>
</nav>
