<nav class="navbar navbar-lightred navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MadMart</a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="nav-link  nav-link-top" href="#">Sign In</button>
      </li>
      <li class="nav-item">
        <button class="nav-link nav-link-top" href="#">Saved</button>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-darkred navbar-expand-lg">
  <div class="container-fluid justify-content-center align-items-center">
    <ul class="navbar-nav">
      <div *ngFor="let item of categories">
        <li class="nav-item">
          <button class="nav-link nav-link-bottom" (click)="onCategorySelected(item)">{{item.name}}</button>
        </li>
      </div>
    </ul>
  </div>
</nav>
