<nav class="navbar navbar-lightred navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onCategorySelected(0)">MadMart</a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <div *ngIf="!user">
        <li class="nav-item">
          <button class="nav-link  nav-link-top" (click)="onSignInSelected()">SIGN IN</button>
        </li>
      </div>
      <div *ngIf="user">
        <li class="nav-item">
          <button class="nav-link nav-link-top sell-button" (click)="onProfileSelected()">{{user.email}}</button>
        </li>
      </div>
      <div *ngIf="user">
        <li class="nav-item">
          <button class="nav-link nav-link-top sell-button" (click)="user=undefined">SIGN OUT</button>
        </li>
      </div>
      <div *ngIf="user">
        <li class="nav-item">
          <button class="nav-link nav-link-top sell-button" (click)="onSellSelected()">SELL</button>
        </li>
      </div>
      <div *ngIf="user">
        <li class="nav-item">
          <button class="nav-link nav-link-top saved-button" (click)="onSaveSelected()">
            SAVED
            <i class="fas fa-bookmark bookmark-icon"></i>
          </button>
        </li>
      </div>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-darkred navbar-expand-lg" id="bottom-bar">
  <div class="container-fluid justify-content-center align-items-center">
    <ul class="navbar-nav">
      <div *ngFor="let item of categories">
        <li class="nav-item">
          <button class="nav-link nav-link-bottom" (click)="onCategorySelected(item.id)">{{item.name}}</button>
        </li>
      </div>
    </ul>
  </div>
</nav>

