.navbar-lightred {
  background-color: #df1a1a;
  color: white;
}

.navbar-darkred {
  background-color: #bd0808;
  color: white;
}

.nav-link {
  font-family: 'Times New Roman', serif;
}

.nav-link-top {
  color: white;
  font-size: 23px;
  margin: 0 10px;
}

.nav-link-bottom {
  color: white;
  font-size: 20px;
  margin: 0 30px;
}

.navbar-brand {
  color: white;
  font-family: Georgia, serif;
  font-size: 50px;
}

.nav-link:hover {
  color: #ccc;
}


.saved-button {
  border: none; /* Removes the default button border */
  display: flex; /* Aligns the text and icon */
  align-items: center; /* Centers them vertically */
  justify-content: center; /* Centers them horizontally (if needed) */
}

.saved-button:hover {
  color: #ccc;
}

.saved-button:hover .bookmark-icon {
  color: #ccc;
}

.bookmark-icon {
  margin-left: 5px;
}


.navbar-brand:hover {
  color: #ccc;
  cursor: pointer;
}

#bottom-bar {
  box-shadow: 0 4px 6px -2px #333333;
}
