
.profile-container {
  display: flex;
  align-items: center;
  margin-top:50px;
  margin-left: 30px;
}

.profile-info{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.active_selling{
  margin-left: 30px;
  margin-top: 30px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  overflow-y: auto;
}

.list-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  height: 320px;
}
