<div class="welcome-box">
  <h2 id="Intro">Your one-stop shop for all things college:</h2>
  <div class="search-bar">
    <input type="text" placeholder="Search" />
    <button type="button" class="clear-btn">X</button>
  </div>
  <div class="buttons">
    <button class="category-btn">Under $50</button>
    <button class="category-btn">Trending</button>
    <button class="category-btn">Clearance</button>
  </div>
  <div class="bucky_image">
    <img src="./assets/bucky_home.jpg" alt="Bucky Image"/>
  </div>
</div>

<h2 id="Top_Picks">TOP PICKS:</h2>



