<div class = "Listing">
  <h2>List an item</h2>

  <form enctype="multipart/form-data">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="What are you trying to sell?"><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Describe your item."><br>

    <label for="contact">Contact:</label><br>
    <input type="text" id="contact" name="contact" placeholder="Please include your school email."><br>

    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" placeholder="How much to sell for?"><br>

    <label for="category">Choose a Category:</label> <br>
    <select name="category" id="category">
      <option value="select">--Select--</option>
      <option value="tickets">Tickets</option>
      <option value="appliances">Appliances</option>
      <option value="furniture">Furniture</option>
      <option value="subleasing">Sub-Leasing</option>
      <option value="clothing">Clothing</option>
      <option value="technology">Technology</option>
      <option value="other">Other</option>
    </select>

    <div class="photos-section">
      <h6>Photos:</h6>
      <p>Add up to 8 photos in JPEG or PNG format</p>
      <div class="image-upload-container">
        <!-- Hidden file input -->
        <input type="file" id="imageUpload" name="imageUpload[]" accept=".jpg, .jpeg, .png" multiple hidden>
        <!-- Custom upload button -->
        <label for="imageUpload" class="upload-btn">Add a photo</label>

        <!-- Image preview slots -->
        <div class="image-preview" id="imagePreview1"></div>
        <!-- Repeat the above line for the number of slots you want, or generate them dynamically with JavaScript -->
      </div>
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
