<!--<div class="container">-->
<!--  <div class="image-container">-->
<!--    <img src="assets/bucky_home.jpg" alt="listing image">-->
<!--  </div>-->
<!--  <div class="info-container">-->
<!--    <h6 id="name">{{listing?.name}}</h6>-->
<!--    <p id="price">${{listing?.price}}</p>-->
<!--  </div>-->
<!--</div>-->

<div *ngIf="listing" class="card">
  <img class="card-img-top" src="assets/bucky_home.jpg" alt="Listing image">
  <div class="card-body">
    <h5 class="card-title">{{listing.name}}</h5>
    <h6 class="card-subtitle">${{formatPrice(listing.price)}}</h6>
  </div>
</div>
