.container {
  width: 150px;
  height: 180px;
  margin: 0;
  padding: 0;
  background-color: #bbbbbb;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.image-container {
  width: 125px;
  height: 125px;
  margin: 0;
  padding: 0;
  background-color: #999999;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.info-container {
  text-align: center;
  align-items: center;
  width: 125px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.card {
  width: 200px;
  height: 260px;
}

.card:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.card > .card-img-top {
  height: 150px
}

.card > .card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#price {
  margin-top: -10px;
}
