<div *ngIf="listing" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2><i class="fa fa-arrow-left back" (click)="onGoBack()"></i> </h2>
      <h2>{{ listing.name }}</h2>
      <h2></h2>
    </div>
    <div class="card-body">
      <img src="assets/bucky_home.jpg" alt="{{ listing.name }} image" class="img-fluid mb-3">

      <p class="card-text">{{ listing.description }}</p>

      <p><strong>Price:</strong> ${{ listing.price}}</p>

      <p><strong>Posted:</strong> {{ listing.timestamp.toString()}}</p>

      <p>Contact Seller:</p>
    </div>
  </div>
</div>

