<div class="header" *ngIf="model">
  <app-header [categories] = "model.categories" (categorySelected)="onCategorySelected($event)"
              (saveSelected)="onSaveSelected()" (signInSelected)="onSignInSelected()" [user]="model.user"
              (sellSelected)="onAddListingSelected()" (profileSelected)="onAddProfileSelected()"/>
</div>
<div style="height: 170px"></div>

<div *ngIf="signIn">
  <app-signin (signup)="onSigningUpSelected($event)" (signin)="onSigningInSelected($event)"
              [signInError]="signInError" [signUpError]="signUpError"/>
</div>

<div *ngIf="saved">
  <app-saved/>
</div>

<div *ngIf="home">
  <app-home></app-home>
</div>

<div *ngIf="profile">
  <app-profile [user] = "model.user" [expandedView]="expandedView" [categories]="model.categories"></app-profile>
</div>

<div *ngIf="selectedCategory>0">
  <app-categorylistings [categoryId]="selectedCategory" [model]="model" [expandedView]="expandedView"/>
</div>

<div *ngIf="addListing">
  <app-sell [categories]="model.categories" [user]="model.user" (sell)="onAddListing($event)"></app-sell>
</div>
