<div *ngIf="model">
  <app-header [categories] = "model.categories" (categorySelected)="onCategorySelected($event)"
              (saveSelected)="onSaveSelected()" (signInSelected)="onSignInSelected()"
              (sellSelected)="onAddListingSelected()"/>
</div>

<div *ngIf="signIn">
  <app-signin (signup)="onSigningUpSelected($event)" (signin)="onSigningInSelected($event)"/>
</div>

<div *ngIf="saved">
  <app-saved/>
</div>

<div *ngIf="home">
  <app-home></app-home>
</div>

<div *ngIf="selectedCategory>0">
  <app-categorylistings [categoryId]="selectedCategory" [model]="model"></app-categorylistings>
</div>

<div *ngIf="addListing">
  <app-sell [categories]="model.categories"></app-sell>
</div>
