<div class="main-container" *ngIf="!exView">
  <div class="header">
    <h1>{{category}}</h1>
  </div>
  <div class="filter-container">
    <div class="btn-container">
      <input type="text" [(ngModel)]="search" class="searchbar">
      <button id="search-button" (click)="onSearch()">Search</button>
    </div>
    <div class="btn-container">
      <div ngbDropdown>
        <button class="btn btn-warning" id="gfg"
                ngbDropdownToggle>Sort by</button>
        <div class="drop-down" ngbDropdownMenu="gfg">
          <button class="drop-btn" ngbDropdownItem (click)="onSort(1)">Most Recent</button>
          <button class="drop-btn" ngbDropdownItem (click)="onSort(2)">Oldest</button>
          <button class="drop-btn" ngbDropdownItem (click)="onSort(3)">Most Expensive</button>
          <button class="drop-btn" ngbDropdownItem (click)="onSort(4)">Cheapest</button>
        </div>
      </div>
        <!--      <button id="sort-button">Sort by</button>-->
<!--      <button id="date-range-button">Date Range</button>-->
    </div>
  </div>
  <div class="list-container">
    <div *ngFor="let listing of displayedListings" class="list-container-item">
      <app-listing [listing]="listing" (expandedView)="onExpandedView($event)"></app-listing>
    </div>
  </div>
</div>
<div *ngIf="exView && selectedListing">
  <app-expandedlisting [listing]="selectedListing" (goBack)="onGoBack()"></app-expandedlisting>
</div>
