<div class="container" *ngIf="init">
  <div *ngIf="signingIn" class="signin-container">
    <h1>Sign In</h1>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="signin-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="signinForm.get('email')?.hasError('pattern')" class="error-message">Please enter a valid wisc.edu email address.</div>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!signinForm.valid">Sign In</button>
      </div>
    </form>
    <div class="signup-container">
      <h6>Don't have an account?</h6>
      <button (click)="signingIn=false" class="signup-button">Sign Up</button>
    </div>
  </div>

  <div *ngIf="!signingIn" class="signin-container">
    <h1>Sign Up</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" formControlName="phone">
      </div>

      <div class="form-group">
        <label for="newEmail">Email:</label>
        <input type="email" id="newEmail" formControlName="email">
        <div *ngIf="signupForm.get('email')?.hasError('pattern')" class="error-message">
          Please enter a valid wisc.edu email address.
        </div>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
      </div>
    </form>

    <div class="signup-container">
      <h6>Already have an account?</h6>
      <button (click)="signingIn=true" class="signup-button">Sign In</button>
    </div>
  </div>
</div>

